/* CSS de base */
* {
    box-sizing: border-box;
}

html {
    background-color: #0D0221;
}

/* CSS du formulaire */
div.rendered-form {
    background-color: #261447;
    color: #FFFFFF;
    padding: 2%;
}

div.form-group {
    background-color: #2E2157;
    margin: 1%;
    padding: 2%;
    border: 1px solid #2DE2E6;
    border-radius: 20px;
}

/* Étoile */
span.formbuilder-required {
    color: #FD1D53;
    font-weight: bold;
}

/* CSS des champs */
.form-control {
    width: 98%;
    outline: none;
}

.form-control,
.form-checkbox {
    background-color: #D3E6F3;
    padding: 1%;
    margin: 1%;
    border: 4px double #2DE2E6;
    border-radius: 10px;
}

.form-control:hover,
.form-checkbox:hover {
    border-color: #FF6C11;
}

.form-control:focus,
.form-checkbox:focus {
    background-color: #fbd0b5;
    border-color: #FF6C11;
}

.form-control:focus:required:valid {
    border-color: green;
    background-color: #ccf8c0;
}

.form-control:focus:required:invalid {
    border-color: red;
    background-color: #fbb6b6;
}

/* CSS du bouton */
.btn_submit {
    cursor: pointer;
    /* ajout de pointer pour utilisabilité */
    width: 98%;
    background-color: #D40078;
    color: white;
    border: none;
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
}

.btn_submit:hover,
.btn_submit:focus {
    background-color: #FF6C11;
}

.btn_submit:active {
    background-color: #ac4c11;
}

/* Exemple EXPERTS */

input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
}

input[type=checkbox]:before {
    content: "\2714";
    font-size: 15px;
    color: transparent !important;
    display: block;
    width: 15px;
    height: 15px;
}

input[type=checkbox]:checked:before {
    color: rgb(209, 209, 209) !important;
}

input[type=text]:checked:before {
    color: rgb(19, 18, 18) !important;
}
